# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# CockroachDB Configuration
# Format: postgresql://[user]:[password]@[host]:[port]/[database]?sslmode=verify-full
COCKROACH_URL=

# Google Sheets Configuration
GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
